body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 100px;
    
}

.headertext {
    display: flex;
}

h3 {
    color: white;
    font-weight: 100;
    font-size: 24px;
}

p {
    color: white;
    font-size: 18px;
    margin: 10px;
}

.mainheader {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.imgleftext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.imgleftext p {
    font-size: 18px;
    margin-left: 0px;
}

img {
    width: 400px;
    margin-left: 40px;
}

button {
    max-width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #3882F6;
    border-color: #3882F6;
    font-size: 20px;
    color: white;
}

h2 {
    color: white;
    font-size: 48px;
    margin-bottom: -10px;
    margin-top: -5px;
}

.whitespace {
    height: 2000px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.infoboxes {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-left: 100px;
 padding-right: 100px;


}

.whitespace2 {
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.grayspace {
    flex:auto;
    background-color:rgb(163, 163, 163) ;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grayspace p {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
}

.grayspace h4 {
    font-size: 32px;
    font-weight: 100;
    align-self: end;
    margin: 0px;
}


.infobox img {
    width: 200px;
    height: 200px;
    margin-left: 0px;
}

.infobox p {
    color: black;
    margin-top: 2px;
}

.infobox {
    flex:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 200px;
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.whitespace1 {
    flex-direction: column;
    flex:auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 150px;
    padding-right: 150px;
    
}

.whitespace1 h2 {
    color: black;
    margin: -50px;
    font-family:'Times New Roman', Times, serif;
   
}

.actioncall {
    display: flex;
    height: 120px;
    width: 900px;
    background-color:#3882F6;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
}

.actioncall .text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text h2 {
    font-size: 28px;
    margin: 5px;
    margin-bottom: 0px;

}

.actioncall button {
    background-color: white;
    color:#3882F6;
    width: 100px;
    margin: 0px 20px 0px 0px;
}